body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
}

.contenedor {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e2d5bc;
  color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.hamburguesa {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.titulo{
  flex: 1;
  text-align: center;
  margin: 0;
}

.head_linea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}

.centrar_img {
  display: block;
  margin: 0 auto;
}

.contenedor-centrar-imagen {
  display: flex;
  margin: 0 10px;
  height: auto;
}

@media screen and (max-width: 600px) {

.hamburguesa {
  display: block;
}

nav ul {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 100%; 
  right: 0;
  width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul.activo {
  display: flex;  
}
  
.contenedor-centrar-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centrar_img {
    display: block;
    margin-top: 15px;
    width: 100%;
}

.contenedor-centrar-imagen img {
    width: 100%;
    margin-top: 15px;
  }
}


